{
  "presets": ["@babel/preset-env"],
  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      {
        "regenerator": true
      }
    ],
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "@modules": "./src/modules",
          "@static": "./src/static",
          "@commands": "./src/commands"
        }
      }
    ]
  ]
}
